<form action='/users/create' method='post'>

  <input type='text' name='username' placeholder='username'></input>
  <input type='password' name='password' placeholder='password'></input>
  <input type='password' name='passwordconfirmation' placeholder='confirm password'></input>

</form>
