<div class='word stuff'>
  <h1 class='title'>all politrees:</h1>
  <a href='/politrees/new'>create a new politree</a>
  <% @politrees.each do |tree| %>
    <p><a href='/politrees/<%= tree.id %>'><%= tree.name %></a>: <%= tree.description %></p>
  <% end %>
</div>
